    <!-- BANNER CONTAINER -->
    <div class="row" >
            <div class="col col-md-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
              </ol>
                <div class="carousel-inner">
                <div class="carousel-item active" >
                  <div class="BannerCont">                 
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="BannerImg2">    
                    </div>
                </div>
                <div class="carousel-item">
                  <div class="BannerImg3">
                  </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </a>
            </div>
            </div>
    </div>

    <div class="row">
      <div id="subContent"class="col-md-4" >
        <button type="button" class="list-group-item list-group-item-action" ><strong >Rentals</strong><p class="text-muted"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</small></p></button>
      </div>
      <div id="subContent" class="col-md-4">
        <button type="button" class="list-group-item list-group-item-action" ><strong >Rental Terms</strong><p class="text-muted"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</small></p></button>
      </div>
      <div id="subContent" class="col-md-4">
        <button type="button" class="list-group-item list-group-item-action" ><strong >Categories</strong><p class="text-muted"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</small></p></button>
      </div>
    </div>
    <div class="row" style="background-color: #EEEEEE;">
      <div class="col col-md-8" style="text-align:center;margin: auto;">
        <div class="jumbotron">
          <h1 class="display-5">How it works</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
          <div class="row">
          <div class="col col-md-4" id="howIW">
            <img id="howItWorksImg" src="assets/img/bannerImg1.jpg" class="rounded float-start" alt="firstStep">
            <h3>Choose your bike</h3>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          </div>
          <div class="col col-md-4" id="howIW">
            <img id="howItWorksImg" src="assets/img/bannerImg1.jpg" class="rounded float-middle" alt="firstStep" >
            <h3>Book and pay</h3>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          </div>
          <div class="col col-md-4" id="howIW">
            <img id="howItWorksImg" src="assets/img/bannerImg1.jpg" class="rounded float-end" alt="lastStep" >
            <h3>Enjoy your ride</h3>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          </div>
        </div>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">List a ride</a>
          </p>
        </div>
      </div>
    </div>
 
    