


    <div class="row">
      <div class="col col-md-8" >
        <div class="jumbotron">
            <h3 data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="display-5">Adult Bikes</h3>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                    </div>
                </div>
          </div>
          <hr class="my-4">

          <h3 data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" class="display-5">Kids Bikes</h3>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    <div class="row">
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                    </div>
                </div>
          </div>
          <hr class="my-4">
          <h3 data-bs-toggle="collapse" href="#Accessories" role="button" aria-expanded="false" aria-controls="collapseExample" class="display-5">Accessories</h3>
              <div class="collapse" id="Accessories">
                <div class="card card-body">
                    <div class="row">
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                        <div class="col col-md-4"><img src="assets/img/adultBike.png" class="rounded" alt="..."></div>
                    </div>
                </div>
          </div>
      </div>
    </div>

    <div class="col col-md-4" style="border:1px solid #EEEEEE;">
        <h2 style="margin-top: 5%;">Fill Up Form</h2>
        <div class="row g-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
          <form class="row g-3">
            <div class="col-md-12">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>

            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-md-4" style="margin-top: 5%;">
                <p class="h3">Price</p>   
              </div>
          </form>

          <div class="row g-3" style="margin-top: 5%;">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Hours" aria-label="First name">
              <hr class="my-4">
              <p class="h4">Total Price:</p>
            </div>
            <div class="col-md-8" style="padding-left: 20%;">
                <p class="h5">Hourly Sessions</p>
                <p class="h6">PhP100/hour</p>
                <p class="h6">PhP100/hour</p>
                <p class="h6">PhP100/hour</p>
            </div>
          </div>

          <div class="row g-3" style="margin-top: 5%;">
            <div class="col-md-6">
              <p class="h3">Mode of Payment</p>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Cash</a>
                <a href="#" class="list-group-item list-group-item-action">Credit Card</a>
                <a href="#" class="list-group-item list-group-item-action">Mobile Payments</a>
               
              </div>
            </div>
         
          </div>
    </div>
  </div>
